@{
}
@model BooksViewModel


@foreach(Book b in Model.Books)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1" style="background-color:orange">
            <h3>@b.Title
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@b.Price.ToString("c")</small>
                </span>
            </h3>
        </div>
    </div>
    <div class="card-text p-1">
        <ul>
            <li>@b.Author</li>
            <li>@b.Classification</li>
            <li>@b.Category</li>
            <li>@b.PageCount pages</li>
            <li>@b.Publisher</li>
            <l1>@b.Isbn</l1>
        </ul>
    </div>
    <br />
}


<div page-skip= "@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div >